<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Agregar Usuario</title>
  <%- include('header') %>
</head>
<body>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="mb-4">Agregar Usuario</h2>

        <form method="POST" action="/agregar">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" class="form-control">
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control">
          </div>

          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" name="contraseña" id="contraseña" class="form-control">
          </div>
<br>
          <button type="submit" class="btn btn-primary">Agregar Usuario</button>
        </form>

        <a href="/" class="btn btn-secondary mt-3">Volver al listado</a>
      </div>
    </div>
  </div>
</body>
</html>
